div.head{
	position: fixed;
	/*float: right;*/
	right: 0px;
	text-align: right;
	margin-bottom: 0px;
	/*width: 100%;*/
	}
.final{
    margin-left: 200px;
}
.card{
	margin-top: 20px;
	/*border-left: 6px solid #005f85;*/
	border-right: 6px solid #005f85;

	padding: 0px;

}
.isbn{
	text-align: center;	
}
.year, .more{
	float: right;
}
