body{
background: linear-gradient(to right, #ACB6E5, #74ebd5); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
.card{
	margin:auto;
	margin-top: 150px;
	border-radius: 50px;	 
}

.card-title{
	text-align: center;
	font-variant: small-caps;
	color: green;
}

.container{
	margin: auto;
	margin-top: 80px;

}	