
.card{
	float: right;
	margin:auto;
	margin-right: 50px;
	margin-top: 150px;
}

.card-title{
	text-align: center;
	font-variant: small-caps;
	color: green;
}

.container{
	margin: auto;
	margin-top: 80px;

}	