<!DOCTYPE html>
<html>
<head>
	
	<!-- <link rel="stylesheet" type="text/css" href="/home/vikku/projects/project1/static/final.css"> -->

	<!-- js-bootstrap file -->

	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

	<!-- css-bootstrap file -->

	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename= 'final.css')}}">

	<title>B00kDW | Home</title>
</head>
<body>
	<div class=" head shadow-sm p-2 mb-3 bg-white rounded" role="alert">
		<div class="btn-group">
		  <button type="button" class="btn btn-outline-secondary">Welcome, {{result}}</button>
		  <button type="button" class="btn btn-secondary dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
		    <span class="sr-only">Toggle Dropdown</span>
		  </button>
		  <div class="dropdown-menu">
		    <a class="dropdown-item" href="{{ url_for('logout') }}">Logout</a>
		  </div>
		</div>
	</div>
	<span>
		<center><a href="{{ url_for('allbooks') }}">get all books</a> 
			<span class="text-muted">OR</span>
		</center> 
	</span>

	<div class="final"> 
	  	<form class=" form-inline my-2 my-lg-0" action="{{ url_for('find') }}" method="post">
      		<input class="form-control col-8 mr-sm-2" type="search" placeholder="Search by ISBN | Author | Title" aria-label="Search" name = "search">
      		<button class="btn btn-outline-success  my-2 my-sm-0" type="submit">Search</button>
    	</form>
    	
    	<span class="text-info ml-2">{{ res}} </span>
    	
    	{% for d in data %}
  	  	
  	  		<div class="card maincard col-9 shadow-sm p-1 mb-2 bg-white rounded">
	  			<div class="card-body">
	  		  		<div class="text-muted">
	  		  			<center>
	  		  				<h4>
	  		  					<a  class="text-muted" href="/Home/detail/{{ d[0] }}">{{ d[1] }}</a>
	  		  				</h4>
	  		  			</center>
	  		  		</div>
	  		  		<div class="col-12">
	  		  			<!-- <span class="text-muted"> <code>ISBN: </code>{{ d[0] }}</span> -->
	  		  			<span class="year text-right text-muted">--- {{ d[2] }} 

	  		  			</span>
	  		  		</div>

	  			</div>
			</div>
		

		
		{% else %}
			<div class="alert alert-danger shadow-sm p-3 mt-2 mb-5 bg-red rounded col-9" role="alert">
				<center>Sorry, "{{ res[15:-3] }}" is not available.</center>
			</div>
		{% endfor %}
	</div>



</body>
</html>