<!DOCTYPE html>
<html>
<head>
	<title>B00kDW</title>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename= 'home.css') }}">

	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
	<div style="margin-bottom: 86px;">
	<img src="{{ url_for('static', filename= 'source.gif') }}" 
	style="float: right; width: 300px;margin-top: 80px; margin-right: 120px;">
	<div class="text-justify lead col-9" >
		<pre>
		<h1 class="text-danger display-4" style="font-variant: small-caps;">
	<span class="display-4">B</span><span class="text-light">00</span>Kdataware</h1>
<h2 class=" text-dark lead">
	5ooo Books Are Available
	Book Details Are Provided <small>‹By GoodReads›</small>
	Any0ne Can Share Thoughts About Books
	Reviews & Rating Of All Books <small>‹By GoodReads›</small>
	A Good User - Friendly Interface 
	S0 0n..
</h2>
	</pre>

	</div>
	<div class="container">
		<button class="btn border btn-lg ml-5 border-danger" onclick="window.location.href='{{ url_for('signup') }}'; ">SignUp</button>
		<button  class="btn  btn-lg border border-light" onclick="window.location.href='{{ url_for('signin') }}'; " style="margin-left: 40px;">SignIn
		</button>
	</div>
</div>
    <footer class="lead h6 bg-light text-dark">

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3" style="padding-left: 200px;">
  	<small><strong> © 2019 Copyright:</strong>
  	 This gif is taken from <a href="https://google.com/" target="_blank"> google</a>
	</small></div>
  <!-- Copyright -->

</footer>
</body>
</html>